#!/usr/bin/make -f
# makefile for libmaintools

# Uncomment this to turn on verbose mode. 
export DH_VERBOSE=2

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
CPP_FLAGS += -g
endif

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) lib
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp build-arch-stamp build-indep-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) cleanall

	dh_clean

install:
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -a

	# Add here commands to install the package into debian/tmp.
	$(MAKE) DESTDIR=$(PWD)/debian/tmp install
	dh_movefiles

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs #-plibmaintools
	dh_installchangelogs -plibmaintools
#	dh_installexamples -a
#	dh_undocumented -a
	dh_installman -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_makeshlibs -plibmaintools -V "libmaintools (>= 2.0)"
	dh_shlibdeps -a -l \
		$(PWD)/debian/libmaintools/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch
.PHONY: build clean binary-arch binary install
